/* GLOBAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

a {
  color: #f00;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}
/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
  width: 50vw;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  color: blue;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: right;
}

.social-list > li {
  display: inline-block;
}

/* BIO STYLES */
.bio-box {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 20px;
  padding: 2%;
  width: 25%;
}

.bio-box > a {
  color: #c68bf9;
}

.bio-box h3 {
  font-size: 1.5em;
}

.bio-copy {
  font-size: 1em;
}

.bio-copy a {
  color: green;
}

.bio-wrapper {
  font-size: 24px;
  overflow: hidden;
}
